$zero: 0 0 0 0;

// margin消去
h1,h2,h3,h4 {
    margin: $zero;
}

ul,
li {
    margin: $zero;
    padding: $zero;
}

body {
    margin: $zero;
    padding: $zero;
}
// /margin消去

// スタイル消去
li {
    list-style: none;
}

a {
    text-decoration: none;
}
// /スタイル消去


// ヘッダー
header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}
// /ヘッダー

// メイン
mein{
    display: block;
    position: relative;
    margin: auto;
    
    // スライダー
    #SlickSlider {
        
        .slick-list{

            .slick-track {

                .slick-slide{
                    
                    .Slick{

                        img {
                            width: 100%;  
                        }
                        a{
                            background-color: white;
                            width: 100%;
                            height: 100%;
                            margin: 0;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    // 自己紹介
    #selfIntroduction{
        margin: auto;

        //  タイトル
        h2{
            width: 100px;
            margin: auto;
            position: relative;
            margin-top: 30px;
        }
        //  /タイトル

        // 内容
        .selfIntroduction{
            position: relative;

        ul{
            display: block;
            margin: auto;
            

            li{
                display: flex;

                h4{
                    width: 100px;
                    height: 20px;
                    margin-top: 16px;
                }

                p{
                    width: 230px;
                }
            }
        }
    }
        // /内容
    }
    // /自己紹介

    // スキル
    #skill{
        margin-top: 50px;

        // タイトル
        h2{
            width: 75px;
            margin: auto;
        }
        // /タイトル

        // 内容
        ul{
            width: 40%;
            margin: auto;
            li{
                display: flex;

                h4{
                    width: 130px;
                    height: 20px;
                    margin-top: 16px;
                }

                p{
                    width: 240px;
                    margin-left: 20px;
                }
            }
        }
        // /内容

    }
    // /スキル

    // お問い合わせフォーム＿ボタン
    a{
    display: block;
    width: 210px;
    height: 70px;
    background-color: black;
    margin: auto;
    
    p{
        position: relative;
        width: 150px;
        margin: auto;
        top: 20px;
        color: white;
    }
    }
    // /お問い合わせフォーム＿ボタン
}
// /メイン


// グローバルスタイル_pc
@media screen and (min-width: 961px){

   header {
    
    height: 100px;
        // タイトル
       h1 {
           width: 230px;
           margin: auto;
       }
       // /タイトル

    //    バーガーメニュー
       .menu_pc {
           display: flex;
           margin-top: 15px;
           li{
            margin-left: 22%
           };
       }
       #burger{
        display: none;
       }
   }

   .menu_sp{
    display: none;
   }
   //    /バーガーメニュー

    mein {
        display: block;
        position: relative;
        margin-top: 100px;
        width: 80%;
        // スライダー
        #SlickSlider {
            
            .slick-list {

                .slick-track {

                    .slick-slide {
                        margin-left: 50px;
                        margin-right: 50px;
                    }
                }
            }
        }
    }

        // /スライダー

        // 自己紹介
        #selfIntroduction {

            // 内容
            .selfIntroduction {
                position: relative;
                display: flex;

                img {
                    width: 20%;
                    margin: auto;
                }

                ul {
                    display: block;
                    width: 30%;
                    margin: auto;


                    li {
                        display: flex;

                        h4 {
                            width: 100px;
                            height: 20px;
                            margin-top: 16px;
                        }

                        p {
                            width: 230px;
                        }
                    }
                }
            }
            // /内容

            }
        
        // /自己紹介

        // スキル
        #skill {
            margin-top: 50px;
            // タイトル
            h3 {
                width: 140px;
                margin-left: 350px;
                margin-top: 60px;
            }
            // /タイトル

            // 内容
            ul {
                width: 40%;
                li {
                    display: flex;
                    h4 {
                        width: 130px;
                        height: 20px;
                        margin-top: 16px;
                    }
                    p {
                        width: 240px;
                        margin-left: 20px;
                    }
                }
            }

            // 勉強予定
            .planToStudy {
                h3 {
                    margin-bottom: 16px;
                }

                ul{
                    li{
                        margin-bottom: 16px;
                    }
                }
            }
            // /勉強予定
            // /内容
        }
        // /スキル

        // お問合せフォーム＿ボタン
        a {
            margin-top: 150px;
            margin-bottom: 150px;
        }
        // /お問合せフォーム＿ボタン
    
}
// /グローバルスタイル_pc


// グローバルスタイル_sp
@media screen and (max-width: 960px) {
    

    // メイン
    mein {
        // 自己紹介
    #selfIntroduction {

        //  タイトル
        h2 {
            width: 100px;
            margin: auto;
            position: relative;
            margin-top: 30px;
        }

        //  /タイトル
        
        // 内容
        .selfIntroduction {
            position: relative;
            display: block;

            img {
                width: 90%;
                margin: none;
            }
        


            img {
                width: 100%;
            }

            ul {
                display: block;
                width: 70%;
                margin: auto;


                li {
                    display: flex;

                    h4 {
                        width: 100px;
                        height: 20px;
                        margin-top: 16px;
                    }

                    p {
                        width: 230px;
                    }
                }
            }
        }

        // /内容
    }
        // /自己紹介

        // スキル
        #skill {
            margin-top: 50px;

            // 内容
            // タイトル
            h2 {
                width: 75px;
                margin: auto;
            }
            // /タイトル

            // タイトルサブ
            h3 {
                width: 140px;
                margin-top: 16px;
            }
            // /タイトルサブ

            ul {
                width: 100%;
                li{
                    margin-top: 16px;

                    h4 {
                        width: 170px;
                        
                    }
                }
            }
            // /内容
        }
        // /スキル

        // お問合せフォーム＿ボタン
        a{
            margin-top: 80px;
            margin-bottom: 80px;
        }
        // /お問合せフォーム＿ボタン
        // /メイン
    }
}
// /グローバルスタイル_sp