h1, h2, h3, h4 {
  margin: 0 0 0 0;
}

ul,
li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

mein {
  display: block;
  position: relative;
  margin: auto;
}
mein #SlickSlider .slick-list .slick-track .slick-slide .Slick img {
  width: 100%;
}
mein #selfIntroduction h2 {
  width: 100px;
  margin: auto;
  position: relative;
  margin-top: 30px;
}
mein #selfIntroduction ul {
  width: 30%;
  margin: auto;
}
mein #selfIntroduction ul li {
  display: flex;
}
mein #selfIntroduction ul li h4 {
  width: 100px;
  height: 20px;
  margin-top: 16px;
}
mein #selfIntroduction ul li p {
  width: 230px;
}
mein #skill {
  margin-top: 50px;
}
mein #skill h2 {
  width: 75px;
  margin: auto;
}
mein #skill ul {
  width: 40%;
  margin: auto;
}
mein #skill ul li {
  display: flex;
}
mein #skill ul li h4 {
  width: 130px;
  height: 20px;
  margin-top: 16px;
}
mein #skill ul li p {
  width: 240px;
  margin-left: 20px;
}
mein a {
  display: block;
  width: 210px;
  height: 70px;
  background-color: black;
  margin: auto;
}
mein a p {
  position: relative;
  width: 130px;
  margin: auto;
  top: 20px;
  color: white;
}

@media screen and (min-width: 961px) {
  header {
    height: 100px;
  }
  header h1 {
    width: 450px;
    margin: auto;
  }
  header .menu_pc {
    display: flex;
    margin-top: 15px;
  }
  header .menu_pc li {
    margin-left: 22%;
  }
  header #burger {
    display: none;
  }

  .menu_sp {
    display: none;
  }

  mein {
    display: block;
    position: relative;
    margin-top: 100px;
    width: 80%;
  }
  mein #SlickSlider .slick-list .slick-track .slick-slide {
    margin-left: 20px;
  }
  mein #skill {
    margin-top: 50px;
  }
  mein #skill h3 {
    width: 140px;
    margin-left: 350px;
    margin-top: 60px;
  }
  mein #skill ul {
    width: 40%;
  }
  mein #skill ul li {
    display: flex;
  }
  mein #skill ul li h4 {
    width: 130px;
    height: 20px;
    margin-top: 16px;
  }
  mein #skill ul li p {
    width: 240px;
    margin-left: 20px;
  }
  mein #skill .planToStudy h3 {
    margin-bottom: 16px;
  }
  mein #skill .planToStudy ul li {
    margin-bottom: 16px;
  }
  mein a {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 960px) {
  header {
    display: flex;
    height: 90px;
    align-items: center;
    position: fixed;
    top: 577px;
  }
  header h1 {
    width: 120px;
    height: 30px;
    font-size: 100%;
    margin-left: 20%;
  }
  header #burger {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 10%;
    border: solid black 1px;
    z-index: 3;
  }
  header #burger span {
    display: block;
    width: 20px;
    height: 0;
    margin: auto;
    border: solid black 1px;
  }
  header #burger .line1 {
    margin-top: 5px;
  }
  header #burger .line2 {
    margin-top: 8px;
  }
  header #burger .line3 {
    margin-top: 8px;
  }
  header #burger .line_on_1 {
    display: block;
    position: relative;
    transform: rotate(45deg);
    top: 9px;
  }
  header #burger .line_on_2 {
    opacity: 0;
  }
  header #burger .line_on_3 {
    display: block;
    position: relative;
    transform: rotate(-45deg);
    bottom: 10px;
  }
  header .menu_pc {
    display: none;
  }

  .menu_sp {
    display: block;
    background-color: white;
    width: 50%;
    position: fixed;
    z-index: 2;
    left: -300px;
    top: 200px;
  }
  .menu_sp li {
    margin-bottom: 40px;
  }
  .menu_sp li a {
    display: block;
    width: 80px;
    margin: auto;
  }

  .burger_on {
    left: 100px;
  }

  .menu_filter {
    display: none;
  }

  .menu_filter_on {
    display: block;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  mein {
    width: 90%;
  }
  mein #selfIntroduction ul {
    width: 100%;
  }
  mein #skill {
    margin-top: 50px;
  }
  mein #skill h2 {
    width: 75px;
    margin: auto;
  }
  mein #skill h3 {
    width: 140px;
    margin-top: 16px;
  }
  mein #skill ul {
    width: 100%;
  }
  mein #skill ul li {
    margin-top: 16px;
  }
  mein #skill ul li h4 {
    width: 170px;
  }
  mein a {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .footer {
    margin-bottom: 90px;
  }
}