h1, h2, h3, h4 {
  margin: 0 0 0 0;
}

ul,
li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

mein {
  display: block;
  position: relative;
  margin: auto;
}
mein #SlickSlider .slick-list .slick-track .slick-slide .Slick img {
  width: 100%;
}
mein #SlickSlider .slick-list .slick-track .slick-slide .Slick a {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
}
mein #SlickSlider .slick-list .slick-track .slick-slide .Slick a img {
  width: 100%;
  height: 100%;
}
mein #selfIntroduction {
  margin: auto;
}
mein #selfIntroduction h2 {
  width: 100px;
  margin: auto;
  position: relative;
  margin-top: 30px;
}
mein #selfIntroduction .selfIntroduction {
  position: relative;
}
mein #selfIntroduction .selfIntroduction ul {
  display: block;
  margin: auto;
}
mein #selfIntroduction .selfIntroduction ul li {
  display: flex;
}
mein #selfIntroduction .selfIntroduction ul li h4 {
  width: 100px;
  height: 20px;
  margin-top: 16px;
}
mein #selfIntroduction .selfIntroduction ul li p {
  width: 230px;
}
mein #skill {
  margin-top: 50px;
}
mein #skill h2 {
  width: 75px;
  margin: auto;
}
mein #skill ul {
  width: 40%;
  margin: auto;
}
mein #skill ul li {
  display: flex;
}
mein #skill ul li h4 {
  width: 130px;
  height: 20px;
  margin-top: 16px;
}
mein #skill ul li p {
  width: 240px;
  margin-left: 20px;
}
mein a {
  display: block;
  width: 210px;
  height: 70px;
  background-color: black;
  margin: auto;
}
mein a p {
  position: relative;
  width: 150px;
  margin: auto;
  top: 20px;
  color: white;
}

@media screen and (min-width: 961px) {
  header {
    height: 100px;
  }
  header h1 {
    width: 230px;
    margin: auto;
  }
  header .menu_pc {
    display: flex;
    margin-top: 15px;
  }
  header .menu_pc li {
    margin-left: 22%;
  }
  header #burger {
    display: none;
  }

  .menu_sp {
    display: none;
  }

  mein {
    display: block;
    position: relative;
    margin-top: 100px;
    width: 80%;
  }
  mein #SlickSlider .slick-list .slick-track .slick-slide {
    margin-left: 50px;
    margin-right: 50px;
  }

  #selfIntroduction .selfIntroduction {
    position: relative;
    display: flex;
  }
  #selfIntroduction .selfIntroduction img {
    width: 20%;
    margin: auto;
  }
  #selfIntroduction .selfIntroduction ul {
    display: block;
    width: 30%;
    margin: auto;
  }
  #selfIntroduction .selfIntroduction ul li {
    display: flex;
  }
  #selfIntroduction .selfIntroduction ul li h4 {
    width: 100px;
    height: 20px;
    margin-top: 16px;
  }
  #selfIntroduction .selfIntroduction ul li p {
    width: 230px;
  }

  #skill {
    margin-top: 50px;
  }
  #skill h3 {
    width: 140px;
    margin-left: 350px;
    margin-top: 60px;
  }
  #skill ul {
    width: 40%;
  }
  #skill ul li {
    display: flex;
  }
  #skill ul li h4 {
    width: 130px;
    height: 20px;
    margin-top: 16px;
  }
  #skill ul li p {
    width: 240px;
    margin-left: 20px;
  }
  #skill .planToStudy h3 {
    margin-bottom: 16px;
  }
  #skill .planToStudy ul li {
    margin-bottom: 16px;
  }

  a {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 960px) {
  mein #selfIntroduction h2 {
    width: 100px;
    margin: auto;
    position: relative;
    margin-top: 30px;
  }
  mein #selfIntroduction .selfIntroduction {
    position: relative;
    display: block;
  }
  mein #selfIntroduction .selfIntroduction img {
    width: 90%;
    margin: none;
  }
  mein #selfIntroduction .selfIntroduction img {
    width: 100%;
  }
  mein #selfIntroduction .selfIntroduction ul {
    display: block;
    width: 70%;
    margin: auto;
  }
  mein #selfIntroduction .selfIntroduction ul li {
    display: flex;
  }
  mein #selfIntroduction .selfIntroduction ul li h4 {
    width: 100px;
    height: 20px;
    margin-top: 16px;
  }
  mein #selfIntroduction .selfIntroduction ul li p {
    width: 230px;
  }
  mein #skill {
    margin-top: 50px;
  }
  mein #skill h2 {
    width: 75px;
    margin: auto;
  }
  mein #skill h3 {
    width: 140px;
    margin-top: 16px;
  }
  mein #skill ul {
    width: 100%;
  }
  mein #skill ul li {
    margin-top: 16px;
  }
  mein #skill ul li h4 {
    width: 170px;
  }
  mein a {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}