$zero: 0 0 0 0;


// 余白消去
h1{
    margin: $zero;
}

body {
    margin: $zero;
    padding: $zero;
}
// /余白消去

// スタイル消去
a {
    text-decoration: none;
}
// スタイル消去


header{
    width: 100%;
    border: solid black 1px;
    align-items: center;
    h1 {
        width: 260px;
        margin-top: 10px;
        margin: auto;
    }

    .homeButton{
        width: 100px;
        height: 40px;
        border: solid black 1px;
        margin: auto;
        margin-bottom: 10px;
        
        a{
            
            width: 100%;
            height: 100%;

            p{
                width: 55px;
                margin: auto;
                margin-top: 8px;
            }
        }
    }
}

 mein {
    display: block;
    width: 40%;
    margin: auto;

    section{

        form{
            dl{
                .text{
                    display: flex;
                    margin-top: 40px;

                    dd{
                        width: 400px;

                        input {
                            width: 400px;
                            
                        }

                        textarea{
                            width: 400px;
                            height: 300px;
                            padding: 10px;
                        }
                    }

                    .data{
                        position: relative;
                        left: 15px;
                    }

                    
                }
                .button{
                    width: 40px;
                    margin: auto;
                    margin-top: 30px;
                }
            }
        }
    }
}