body iframe {
  width: 100%;
  vertical-align: bottom;
}

@media screen and (min-width: 961px) {
  body .footer {
    margin-top: 20px;
    height: 128px;
  }
}
@media screen and (max-width: 960px) {
  body .footer {
    height: 120px;
  }
}