body{
// iframe表示面積
iframe {
    width: 100%;
    vertical-align: bottom;
}
// /iframe表示面積


}

// pc
// グローバルスタイル_pc
@media screen and (min-width: 961px) {
    body {

        // フッター面積
        .footer {
            margin-top:20px;
            height: 128px;
        }

        // /フッター面積
    }
}

// /pc

// sp
 @media screen and (max-width: 960px){
    body {

        // フッター面積
        .footer {
        height: 120px;
        }
        // /フッター面積
    }
 }
// /sp