doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // css
        link(rel="stylesheet" type="text/css" href="./footer.css")
        // /css
    body 
        // フッター
        footer
            ul
                // タイトル
                h2 ポートフォリオ
                // /タイトル

                // 内容
                li.text1 作成者：　別府　佳和
                li.text2 画像とデザイン画とコードは全て自作の物です。
                li.text3 作成期間：　１ヶ月と12日間かかりました。
                // /内容
        // /フッター